---
import {  IconMenu } from "~/components/icons";
import Logo from "../Logo.astro";
---
<header>
  <div class="py-3 px-3 mx-auto w-full lg:flex lg:justify-between max-w-6xl lg:px-4">
    <div class="flex justify-between">
      <a class="flex items-center" href="/">
        <Logo />
      </a>
      <div class="flex items-center lg:hidden">
        <button class="icon-button" onclick="toggleMenu()">
          <IconMenu />
        </button>
      </div>
    </div>
    <div id="menu" class="items-center w-full lg:w-auto hidden lg:flex text-gray-600 " >
      <ul >

        <li>
          <a class="menu-item" href="/urunler">Ürünler</a>
        </li>
        <li>
          <a class="menu-item" href="/hakkimizda">Hakkımızda</a>
        </li>
        <li>
          <a class="menu-item" href="/iletisim">İletişim</a>
        </li>
      </ul>

    </div>
  </div>
</header>
<script is:inline>
  function toggleMenu() {
    document.getElementById("menu").classList.toggle("hidden");
  }
  window.toggleMenu = toggleMenu;
</script>
<style>
  header{
    @apply fixed top-0 z-40 flex-none mx-auto w-full bg-white/90;
    @apply  dark:bg-slate-900 backdrop-blur-sm border-b dark:border-b-0;
  }
  .icon-button {
    @apply ml-1 text-gray-500  hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200;
    @apply dark:text-gray-400 dark:hover:bg-gray-800  dark:focus:ring-gray-700 ;
    @apply rounded-lg text-sm p-2.5 inline-flex items-center;
  }
  #menu {
    @apply dark:text-slate-200;
  }
  ul {
    @apply flex flex-col py-2 lg:py-0 lg:flex-row lg:self-center  w-full lg:w-auto ;
    @layer collapse collapsed;
  }
  .menu-item {
    @apply font-medium hover:text-gray-900 ;
    @apply px-4 py-3 flex items-center ;
    @apply dark:hover:text-white ;
    @apply transition duration-150 ease-in-out;
  }
</style>