---
import { Icon } from 'astro-icon';
import Logo from "../Logo.astro";
---
<header>
  <div class="header-container">
    <div class="flex justify-between">
      <a class="flex items-center" href="/">
        <Logo />
      </a>
      <div class="flex items-center lg:hidden">
        <a onclick="toggleMenu()">
          <Icon  name="gg:menu-right-alt"/>
        </a>
      </div>
    </div>
    <div id="menu" class="  hidden lg:flex">
      <ul >

        <li>
          <a class="menu-item" href="/urunler">Ürünler</a>
        </li>
        <li>
          <a class="menu-item" href="/hakkimizda">Hakkımızda</a>
        </li>
        <li>
          <a class="menu-item" href="/iletisim">İletişim</a>
        </li>
      </ul>

    </div>
  </div>
</header>
<script is:inline>
  function toggleMenu() {
    document.getElementById("menu").classList.toggle("hidden");
  }
  window.toggleMenu = toggleMenu;
</script>
<style>
  header{
    @apply fixed top-0 z-40 flex-none mx-auto w-full bg-white/90;
    @apply  dark:bg-slate-900 backdrop-blur-sm border-b dark:border-b-0;
  }
  .header-container {
    @apply py-3 px-3 mx-auto w-full lg:flex lg:justify-between max-w-6xl lg:px-4;
  }

  #menu {
    @apply items-center w-full lg:w-auto;
  }

  [astro-icon] {
  @apply w-5 h-5;
  }
  ul {
    @apply flex flex-col py-2 lg:py-0 lg:flex-row lg:self-center  w-full lg:w-auto ;
    @layer collapse collapsed;
  }
  .menu-item {
    @apply font-medium hover:text-gray-900 ;
    @apply px-4 py-3 flex items-center ;
    @apply dark:hover:text-white ;
    @apply transition duration-150 ease-in-out;
  }
</style>