---
export interface Props {
  baslik: string;
  metin?: string;
}
const { baslik = 'Hello', metin  } = Astro.props as Props;
---

<div class=" card">
    <div class="flex items-center mb-4">
        
      <div class="ml-4 text-xl font-bold">
        {baslik}
      </div>
    </div>
    <p >
      {metin}
    </p>
  </div>

  <style>
    .card {
    @apply relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl dark:border dark:border-slate-800;
    }
    p{
      @apply text-gray-500 dark:text-gray-400 ;
    }
  </style>