---
import Layout from '~/layouts/Layout.astro';

---

<Layout title="404" description="Sayfa bulunamadı">
	<main class="prose">
		<h1>404 Sayfa bulunamadı</h1> 
        <p>
            Üzgünüm, bu sayfa mevcut değil.
            
        </p>
        <p>
        Sayfa kaldırılmış, adı değiştirilmiş veya geçici olarak kullanılamıyor olabilir.
        İşte diğer bazı yararlı sayfalar
        </p>
	</main>
</Layout>
<style>
    main{
        @apply m-28;
    }
</style>

