---
import Layout from '~/layouts/Layout.astro';
import ContactWithMap from '~/components/contacts/ContactWithMap.astro';
---

<Layout title="iletisim" description="page desc">
	<main>
		<ContactWithMap/>
	</main>
</Layout>
<style>
	main{
		@apply mt-20;
	}
</style>