---
import Layout from '~/layouts/Layout.astro';

import BasicCTA from '~/components/ctas/BasicCTA.astro';
import BasicFeatures from '~/components/features/BasicFeatures.astro';
import StepsFeatures from '~/components/features/StepsFeatures.astro';
import HeroWithImage from '~/components/hero/HeroWithImage.astro';

---

<Layout title="AstroWind — Your website with Astro + Tailwind CSS" description="Describe me">
	<main>
		<HeroWithImage />
		<BasicFeatures />
		<StepsFeatures />
		<BasicCTA />
	</main>
</Layout>