---
import Layout from '~/layouts/Layout.astro';
import ServiceList from '~/components/features/ServiceList.astro';
---

<Layout title="ürünler" description="page desc">
	<main >
		<ServiceList />
	</main>
</Layout>
<style>
	main {
		@apply mt-24 ;
	}

</style>