---
import BasicCard from "../cards/BasicCard.astro";
  const { } = Astro.props;
---
<section >
  <div class="features-container">
    <div class="features-padding">
      <div class="ust">
        <p class="ust-baslik">
          Basc Features
        </p>
        <h2> Most used Sections</h2>
        <p class="ust-p">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat.</p>
      </div>
      <div class="alt">
        <BasicCard baslik="Başlık" 
        resim="https://placeimg.com/300/150/arch/grayscale"
        link="urunler"
        metin="Quis at ut quae temporibus aut magnam et ad. Molestias quas quos vel. Officia neque odio iusto animi odit omnis occaecati et." 
        />
        <BasicCard baslik="Başlık" 
        resim="https://placeimg.com/300/150/arch/grayscale"
        link="urunler"
        metin="Quis at ut quae temporibus aut magnam et ad. Molestias quas quos vel. Officia neque odio iusto animi odit omnis occaecati et." 
        />
        <BasicCard baslik="Başlık" 
        resim="https://placeimg.com/300/150/arch/grayscale"
        link="urunler"
        metin="Quis at ut quae temporibus aut magnam et ad. Molestias quas quos vel. Officia neque odio iusto animi odit omnis occaecati et." 
        />
        <BasicCard baslik="Başlık" 
        resim="https://placeimg.com/300/150/arch/grayscale"
        link="urunler"
        metin="Quis at ut quae temporibus aut magnam et ad. Molestias quas quos vel. Officia neque odio iusto animi odit omnis occaecati et." 
        />
        <BasicCard baslik="Başlık" 
        resim="https://placeimg.com/300/150/arch/grayscale"
        link="urunler"
        metin="Quis at ut quae temporibus aut magnam et ad. Molestias quas quos vel. Officia neque odio iusto animi odit omnis occaecati et." 
        />
        <BasicCard baslik="Başlık" 
        resim="https://placeimg.com/300/150/arch/grayscale"
        link="urunler"
        metin="Quis at ut quae temporibus aut magnam et ad. Molestias quas quos vel. Officia neque odio iusto animi odit omnis occaecati et." 
        />

        
      </div>
    </div>
  </div>
</section>

<style>
  section {
    @apply relative ;
  }
  .features-container {
    @apply relative max-w-6xl mx-auto px-4 sm:px-6;
  }
  .features-padding {
    @apply py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12;
  }
  .ust {
    @apply mb-8 text-center text-primary;
  }
  h2{
    @apply sm:text-3xl text-2xl font-medium text-center  mb-20;
  }
  .ust-baslik {
    @apply text-base  font-semibold tracking-wide uppercase;
  }
  .ust-p {
    @apply max-w-3xl mx-auto text-center text-xl ;
  }
  .alt {
    @apply grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white;
  }

</style>