---
import BasicCard from "../cards/BasicCard.astro";
  const { } = Astro.props;
---
<section >
  <div class="fon" aria-hidden="true"></div>
  <div class="features-container">
    <div class="features-padding">
      <div class="ust">
        <p class="ust-baslik">
          Basc Features
        </p>
        <h2 >
          Most used Sections
        </h2><p class="ust-p">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat.</p>
      </div>
      <div class="alt">
        <BasicCard baslik="Başlık" metin="Quis at ut quae temporibus aut magnam et ad. Molestias quas quos vel. Officia neque odio iusto animi odit omnis occaecati et. Sequi qui est id rem minus dolore. Ut vitae occaecati culpa aperiam id."  />
        <BasicCard baslik="Başlık" metin="Quis at ut quae temporibus aut magnam et ad. Molestias quas quos vel. Officia neque odio iusto animi odit omnis occaecati et. Sequi qui est id rem minus dolore. Ut vitae occaecati culpa aperiam id.…"/>
        <BasicCard baslik="Başlık" metin="Quis at ut quae temporibus aut magnam et ad. Molestias quas quos vel. Officia neque odio iusto animi odit omnis occaecati et. Sequi qui est id rem minus dolore. Ut vitae occaecati culpa aperiam id.…"/>
        <BasicCard baslik="Başlık" metin="Quis at ut quae temporibus aut magnam et ad. Molestias quas quos vel. Officia neque odio iusto animi odit omnis occaecati et. Sequi qui est id rem minus dolore. Ut vitae occaecati culpa aperiam id.…"/>
        <BasicCard baslik="Başlık" metin="Quis at ut quae temporibus aut magnam et ad. Molestias quas quos vel. Officia neque odio iusto animi odit omnis occaecati et. Sequi qui est id rem minus dolore. Ut vitae occaecati culpa aperiam id.…"/>
        <BasicCard baslik="Başlık" metin="Quis at ut quae temporibus aut magnam et ad. Molestias quas quos vel. Officia neque odio iusto animi odit omnis occaecati et. Sequi qui est id rem minus dolore. Ut vitae occaecati culpa aperiam id.…"/>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    @apply relative;
  }
  .fon {
    @apply absolute inset-0  pointer-events-none mb-32;
    background-color: var(--theme-surface-1);
    color: var(--theme-on-surface-1);
  }
  .features-container {
    @apply relative max-w-6xl mx-auto px-4 sm:px-6;
  }
  .features-padding {
    @apply py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12;
  }
  .ust {
    @apply mb-8 text-center;
  }
  .ust-baslik {
    @apply text-base  font-semibold tracking-wide uppercase;
    color: var(--theme-primary);
  }
  .ust-p {
    @apply max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400;
  }
  .alt {
    @apply grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white;
  }

</style>