---
import "~/styles/base.css"
import "~/styles/variables.css"

import Header from "~/components/headers/BasicHeader.astro"
import Footer from "~/components/footers/BasicFooter.astro";
import BaseHead from "~/components/BaseHead.astro";
import settings from '~/config/settings';

const title = Astro.props.title || settings.title;
const description = Astro.props.description || settings.description;
---

<html lang="tr">

<BaseHead />

<body class="body-class">
  <Header />
  <slot />
  <Footer />
</body>

</html>

<style>


  :global(body) {
    font-family: 'Open Sans', sans-serif;
  }
  :global(main) {
		@apply mt-20;
	}

  :global(.btn, .btn-sm) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--theme-button-border-radius);
    border-width: 1px;
    border-color: transparent;
    font-weight: 500;
    line-height: 1.375;
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    padding: 0.75rem 1.5rem;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .04), 0 4px 6px -2px rgba(0, 0, 0, .02);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .body-class {
    @apply antialiased text-gray-900 dark:text-slate-300 tracking-tight  dark:bg-slate-900;
    background-color: var(--theme-bg);
  }
</style>