---
import "~/styles/base.css"

import Header from "~/components/headers/BasicHeader.astro"
import Footer from "~/components/footers/BasicFooter.astro";
import BaseHead from "~/components/BaseHead.astro";
---

<html lang="tr" data-theme="corporate">
<BaseHead />
<body>
  <Header />
  <slot />
  <Footer />
</body>
</html>
